ion-item{
    --background: #FF6B00;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}
.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 50px;
}
.sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 15px;
}