<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="icono">
    <ion-icon name="help-outline"></ion-icon>
  </div>
  <div class="sesion">
    <ion-label>Registrarse</ion-label>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Gmail</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content>